<c-card>
  <c-card-body>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre y apellido</th>
          <th>Email</th>
          <th>Empresa</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        @for(vendedor of listaVendedores2; track vendedor.id){
        <tr>
          <td>
            <h3>
              {{ vendedor.name }}
            </h3>
          </td>
          <td>
            <h3>{{ vendedor.email }}</h3>
          </td>
          <td>
            <h3>{{ vendedor.empresa }}</h3>
          </td>
          <td>
            <h3>{{ vendedor.direccion }}</h3>
          </td>
          <td>
            <h3>{{ vendedor.telefono }}</h3>
          </td>
          <td>
            <button
              mat-icon-button
              (click)="deleteVendedor(vendedor.id)"
              [style]="'color:red'"
            >
              <mat-icon class="delete">delete</mat-icon>
            </button>
          </td>
          <button mat-icon-button (click)="openMapDialog(vendedor)">
            <mat-icon class="edit">edit</mat-icon>
          </button>
        </tr>

        } @empty {
        <c-card>
          <c-card-body>
            <p cCardText>No hay datos</p>
          </c-card-body>
        </c-card>
        }
      </tbody>
      <button
        mat-icon-button
        (click)="openMapDialog()"
        matTooltip="Crear un vendedor"
        align="end"
      >
        <mat-icon class="add_circle">add_circle</mat-icon>
      </button>
    </table>
  </c-card-body>
</c-card>
