.map {
  width: 100%;
  height: 90%;
}

input {
  width: 20vw;
  margin-left: 20px;
}
select {
  width: 20vw;
  margin-left: 20px;
}
.card {
  width: 50vw;
  height: 90%;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
// mat-dialog-container {
//   background-color: greenyellow !important;
// }
::ng-deep .mat-mdc-dialog-container .mdc-dialog__content {
  background-color: #323a49 !important;
}
::ng-deep .mat-mdc-dialog-actions {
  background-color: #323a49 !important;
}

.error {
  color: rgba(255, 0, 0, 0.829);
}
