<mat-dialog-content class="dialog">
  <c-card class="card" alignment="center">
    <c-card-body>
      <c-row>
        <c-col [sm]="6">
          <form cForm [formGroup]="userForm">
            <div class="mb-3">
              <label cLabel for="nameFormControl{{ data.id }}"
                >Nombre y Apellido</label
              >
              <input
                cFormControl
                id="nameFormControl{{ data.id }}"
                placeholder="Juan Perez"
                type="text"
                formControlName="name"
                [value]="data.name"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="emailFormControl{{ data.id }}">Email</label>
              <input
                cFormControl
                id="emailFormControl{{ data.id }}"
                placeholder="name@example.com"
                type="email"
                formControlName="email"
                [value]="data.email"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="empresaFormControl{{ data.id }}"
                >Empresa</label
              >
              <input
                cFormControl
                id="empresaFormControl{{ data.id }}"
                placeholder="empresa"
                type="text"
                formControlName="empresa"
                [value]="data.empresa"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="telefonoFormControl{{ data.id }}"
                >Telefono</label
              >
              <input
                cFormControl
                id="telefonoFormControl{{ data.id }}"
                placeholder="12312312"
                type="tel"
                formControlName="telefono"
                [value]="data.telefono"
              />
            </div>
            <div class="mb-3">
              <label cLabel for="direccionFormControl{{ data.id }}"
                >Direccion</label
              >
              <input
                cFormControl
                id="direccionFormControl{{ data.id }}"
                placeholder="calle falsa 123"
                type="text"
                formControlName="direccion"
                [value]="data.direccion"
              />
            </div>
          </form>
        </c-col>
        <c-col [sm]="6">
          <div class="map" #map></div>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  @if(data.id){
  <button mat-raised-button (click)="editarInfo(data.id)">
    Editar Informacion
  </button>

  }@else{
  <button mat-raised-button (click)="editarInfo()">Crear Nuevo vendedor</button>
  }
</mat-dialog-actions>
