<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Card</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Cards are built with as little markup and styles as possible but still
          manage to deliver a bunch of control and customization. Built with
          flexbox, they offer easy alignment and mix well with other CoreUI
          components. Cards have no top, left, and right margins by default, so
          use
          <a href="https://coreui.io/docs/utilities/spacing"
            >spacing utilities</a
          >
          as needed. They have no fixed width to start, so they&#39;ll fill the
          full width of its parent.
        </p>
        <p class="text-body-secondary small">
          Below is an example of a basic card with mixed content and a fixed
          width. Cards have no fixed width to start, so they&#39;ll naturally
          fill the full width of its parent element.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Card</strong> <small>Body</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          The main block of a card is the <code>&lt;c-card-body&gt;</code>. Use
          it whenever you need a padded section within a card.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Card</strong> <small>Titles, text, and links</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Card titles are managed by <code>cCardTitle</code> directive for
          <code>&lt;h*&gt;</code>. Identically, links are attached and collected
          next to each other by <code>cCardLink</code> directive for
          <code>&lt;a&gt;</code> tag. Subtitles are handled by
          <code>cCardSubtitle</code> directive.
        </p>
        <p class="text-body-secondary small">
          Store <code>cCardTitle</code> and the <code>cCardSubtitle</code> items
          in a <code>&lt;c-card-body&gt;</code>. The card title, and subtitle
          are arranged properly.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Card</strong> <small>Images</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          <code>cCardImg="top"</code> places a picture to the top of the card.
          With <code>cCardText</code>, text can be added to the card. Text
          within <code>cCardText</code> can additionally be styled with the
          regular HTML tags.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Card</strong> <small>list groups</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Create lists of content in a card with a flush list group.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Card</strong> <small>kitchen sink</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Combine and match many content types to build the card you need, or
          throw everything in there. Shown below are image styles, blocks, text
          styles, and a list group—all wrapped in a fixed-width card.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Card</strong> <small>Header and footer</small>
      </c-card-header>
      <c-card-body>
        <c-row class="g-4">
          <c-col>
            <p class="text-body-secondary small">
              Add an optional header and/or footer within a card.
            </p>
          </c-col>
          <c-col>
            <p class="text-body-secondary small">
              Card headers can be styled by adding ex.
              <code>&#34;h5&#34;</code>.
            </p>
          </c-col>
        </c-row>
        <c-row>
          <c-col> </c-col>
          <c-col> </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Card</strong> <small>Sizing</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Cards assume no specific <code>width</code> to start, so they&#39;ll
          be 100% wide unless otherwise stated. You can adjust this as required
          with custom CSS, grid classes, grid Sass mixins, or services.
        </p>
        <h3>Using grid markup</h3>
        <p class="text-body-secondary small">
          Using the grid, wrap cards in columns and rows as needed.
        </p>

        <h3>Using utilities</h3>
        <p class="text-body-secondary small">
          Use some of
          <a href="https://coreui.io/docs/utilities/sizing/"
            >available sizing utilities</a
          >
          to rapidly set a card width.
        </p>

        <strong>Using custom CSS</strong>
        <p class="text-body-secondary small">
          Use custom CSS in your stylesheets or as inline styles to set a width.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Card</strong> <small>Text alignment</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          You can instantly change the text arrangement of any card—in its whole
          or specific parts—with
          <a href="https://coreui.io/docs/utilities/text/#text-alignment"
            >text align</a
          >
          classes.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Card</strong> <small>Navigation</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Add some navigation to a <code>&lt;c-card-header&gt;</code> with our
          <code>&lt;c-nav&gt;</code> component.
        </p>
        <c-row>
          <c-col> </c-col>
          <c-col> </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Card</strong> <small>Image caps</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Similar to headers and footers, cards can include top and bottom
          &#34;image caps&#34;—images at the top or bottom of a card.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Card</strong> <small>Styles</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Cards include various options for customizing their backgrounds,
          borders, and color.
        </p>
        <h3>Background and color</h3>
        <p class="text-body-secondary small">
          Use <code>color</code> property to change the appearance of a card.
        </p>

        <h3>Border</h3>
        <p class="text-body-secondary small">
          Use
          <a href="https://coreui.io/docs/utilities/borders/"
            >border utilities</a
          >
          to change just the <code>border-color</code> of a card. Note that you
          can set <code>textColor</code> property on the
          <code>&lt;c-card&gt;</code> or a subset of the card&#39;s contents as
          shown below.
        </p>

        <h3>Top border</h3>
        <p class="text-body-secondary small">
          Use
          <a href="https://coreui.io/docs/utilities/borders/"
            >border utilities</a
          >
          to change just the <code>border-color</code> of a card. Note that you
          can set <code>textColor</code> property on the
          <code>&lt;c-card&gt;</code> or a subset of the card&#39;s contents as
          shown below.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Card</strong> <small>Card groups</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Use card groups to render cards as a single, attached element with
          equal width and height columns. Card groups start off stacked and use
          <code>display: flex;</code> to become attached with uniform dimensions
          starting at the <code>sm</code> breakpoint.
        </p>

        <p class="text-body-secondary small">
          When using card groups with footers, their content will automatically
          line up.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Card</strong> <small>Grid cards</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Use the <code>c-row</code> component and set
          <code>xs|sm|md|lg|xl|xxl</code> property to control how many grid
          columns (wrapped around your cards) you show per row. For example
          <code>xs="1"</code> laying out the cards on one column, and
          <code>md="1"</code> splitting four cards to equal width across
          multiple rows, from the medium breakpoint up.
        </p>

        <p class="text-body-secondary small">
          Change it to <code>md="3"</code> and you'll see the fourth card wraps.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<ng-template #imgAngularTemplate let-orientation>
  <img [cCardImg]="orientation ?? 'top'" src="assets/images/angular.jpg" />
</ng-template>

<ng-template #imgPlaceholderTemplate let-orientation>
  <svg
    [cCardImg]="orientation ?? 'top'"
    aria-label="Placeholder: Image cap"
    class="docs-placeholder-img"
    focusable="false"
    height="180"
    preserveAspectRatio="xMidYMid slice"
    role="img"
    width="100%"
    xmlns="http://www.w3.org/2000/svg"
  >
    <title>Placeholder</title>
    <rect fill="#868e96" height="100%" width="100%"></rect>
    <text
      dominant-baseline="middle"
      dy=".3em"
      fill="#dee2e6"
      text-anchor="middle"
      x="50%"
      y="50%"
    >
      Image cap
    </text>
  </svg>
</ng-template>

<ng-template #cardBodyTemplate>
  <h5 cCardTitle>Card title</h5>
  <p cCardText>
    Some quick example text to build on the card title and make up the bulk of
    the card's content.
  </p>
  <button cButton color="primary">Go somewhere</button>
</ng-template>

<ng-template #headerAndFooterTemplate>
  <h5 cCardTitle>Special title treatment</h5>
  <p cCardText>
    With supporting text below as a natural lead-in to additional content.
  </p>
  <button cButton color="primary">Go somewhere</button>
</ng-template>
