<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Form Control</strong>
      </c-card-header>
      <c-card-body> </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Form Control</strong> <small>Sizing</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Set heights using <code>sizing</code> property like
          <code>sizing=&#34;lg&#34;</code> and <code>sizing=&#34;sm&#34;</code>.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Form Control</strong> <small>Disabled</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Add the <code>disabled</code> boolean attribute on an input to give it
          a grayed out appearance and remove pointer events.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Form Control</strong> <small>Readonly</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Add the <code>readOnly</code> boolean attribute on an input to prevent
          modification of the input&#39;s value. Read-only inputs appear lighter
          (just like disabled inputs), but retain the standard cursor.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Form Control</strong> <small>Readonly plain text</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          If you want to have <code>&lt;input readonly&gt;</code> elements in
          your form styled as plain text, use the <code>plainText</code> boolean
          property to remove the default form field styling and preserve the
          correct margin and padding.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Form Control</strong> <small>File input</small>
      </c-card-header>
      <c-card-body> </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Form Control</strong> <small>Color</small>
      </c-card-header>
      <c-card-body> </c-card-body>
    </c-card>
  </c-col>
</c-row>
