<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Button Group</strong> <span>Basic example</span>
      </c-card-header>
      <c-card-body>
        <p>
          Wrap a series of <code>&lt;CButton&gt;</code> components in
          <code>&lt;c-button-group&gt;</code>.
        </p>

        <p>
          These classes can also be added to groups of links, as an alternative
          to the
          <code>&lt;CNav&gt;</code> components.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Button Group</strong> <span>Mixed styles</span>
      </c-card-header>
      <c-card-body> </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Button Group</strong> <span>Outlined styles</span>
      </c-card-header>
      <c-card-body> </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Button Group</strong>
        <span>Checkbox and radio button groups</span>
      </c-card-header>
      <c-card-body>
        <p>
          Combine button-like checkbox and radio toggle buttons into a seamless
          looking button group.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Button Group</strong> <span>Button toolbar</span>
      </c-card-header>
      <c-card-body>
        <p>
          Join sets of button groups into button toolbars for more complicated
          components. Use utility classes as needed to space out groups,
          buttons, and more.
        </p>

        <p>
          Feel free to combine input groups with button groups in your toolbars.
          Similar to the example above, you’ll likely need some utilities
          through to space items correctly.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Button Group</strong> <span>Sizing</span>
      </c-card-header>
      <c-card-body>
        <p>
          Alternatively, of implementing button sizing classes to each button in
          a group, set
          <code>size</code> property to all
          <code>&lt;c-button-group&gt;</code>&#39;s, including each one when
          nesting multiple groups.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Button Group</strong> <span>Nesting</span>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Put a <code>&lt;c-button-group&gt;</code> inside another
          <code>&lt;c-button-group&gt;</code> when you need dropdown menus
          combined with a series of buttons.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Button Group</strong> <span>Vertical variation</span>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Create a set of buttons that appear vertically stacked rather than
          horizontally.
          <strong>Split button dropdowns are not supported here.</strong>
        </p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
