<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Tooltip</strong> <small>Basic example</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Hover over the links below to see tooltips:
        </p>

        <p class="text-body-secondary small">
          Hover over the buttons below to see the four tooltips directions: top,
          right, bottom, and left.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
