<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Placeholder</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          In the example below, we take a typical card component and recreate it
          with placeholders applied to create a &#34;loading card&#34;. Size and
          proportions are the same between the two.
        </p>
      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Placeholder</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Create placeholders with the <code>cPlaceholder</code> directive and a
          grid column cCol directive (e.g., <code>cCol="6"</code>) to set the
          <code>width</code>. They can replace the text inside an element or be
          added as a modifier to an existing component.
        </p>
      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Placeholder</strong> <small> Width</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          You can change the <code>width</code> through grid column classes,
          width utilities, or inline styles.
        </p>
      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Placeholder</strong> <small> Color</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          By default, the <code>cPlaceholder</code> uses
          <code>currentColor</code>. This can be overridden with a custom color
          or utility class.
        </p>
      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Placeholder</strong> <small> Sizing</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          The size of <code>cPlaceholder</code>s are based on the typographic
          style of the parent element. Customize them with
          <code>size</code> prop: <code>lg</code>, <code>sm</code>, or
          <code>xs</code>.
        </p>
      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Placeholder</strong> <small> Animation</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Animate placeholders with
          <code>cPlaceholderAnimation=&#34;glow&#34;</code> or
          <code>cPlaceholderAnimation=&#34;wave&#34;</code> to better convey the
          perception of something being <em>actively</em> loaded.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
