<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Select</strong> <small>Default</small>
      </c-card-header>
      <c-card-body> </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Select</strong> <small>Sizing</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          You may also choose from small and large custom selects to match our
          similarly sized text inputs.
        </p>

        <p class="text-body-secondary small">
          The <code>multiple</code> attribute is also supported:
        </p>

        <p class="text-body-secondary small">
          As is the <code>html size</code> property:
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Select</strong> <small>Disabled</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Add the <code>disabled</code> boolean attribute on a select to give it
          a grayed out appearance and remove pointer events.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
