<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Collapse</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          You can use a link or a button component.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Collapse</strong> <small>horizontal</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Add the <code>horizontal</code> property to transition the width
          instead of height and set a width on the immediate child element.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Collapse</strong> <small> multi target</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          A <code>&lt;c-button&gt;</code> can show and hide multiple elements.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
